@import "./global.css";
@import url('./buttons.css');

.leaderboard__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.leaderboard__level {
  font-size: 20px;
  color: gray;
}
